@(sugus:Candy, hall:Candy)
<div class="row">
    <div class="col-md-2" > </div>

    <div class="col-md-8">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">@sugus.getName() </div>
            <div class="panel-body">
                ID: @sugus.getId() <br>
                NAME: @sugus.getName() <br>
                PRICE:@sugus.getPrice <br> 
            </div>
        </div>

        <br><br>

        <div class="panel panel-primary">
            <div class="panel-heading">@hall.getName() </div>
            <div class="panel-body">
                ID: @hall.getId() <br>
                NAME: @hall.getName() <br>
                PRICE:@hall.getPrice <br>
            </div>
        </div>
    </div>

    <div class="col-md-2" > </div>


</div>

