<html>
    <head>
        <title>my you page</title>

        <link rel="stylesheet" href="myStyle.css">

    </head>
    <body style="background-color: whitesmoke;color: blue">
        <h1>Welcome to Dr.Phich Page</h1>
        A server-side dynamic web page is a web page <br>
        <h1>Dynamic Web Programming</h1>
        <h1 class="mySample">test</h1>
        <h1 class="myTable">test</h1>
        whose construction is controlled by an application <br>
        server processing server-side scripts. <br>
        In server-side scripting, parameters determine <br>
        how the assembly of every new web page proceeds, <br>
        including the setting up of more client-side processing.<br>
        <a href="/">Home</a>
        <button style="background-color: green;color: white;width: 100px; height: 25px;">
            Okay
        </button>
        <button class="mySample">Cancel</button>
        <a href="mypage.scala.html" class="mySample">Go to mypage </a>

    </body>
</html>